#root {
  --primary-100: hsl(197, 77%, 95%);

  --primary-200: hsl(197, 77%, 88%);
  --primary-300: hsl(197, 77%, 78%);
  --primary-400: hsl(197, 77%, 68%);
  --primary: hsl(197, 77%, 58%);
  --primary-600: hsl(197, 77%, 48%);
  --primary-700: hsl(197, 77%, 38%);

  --secondary: #db3eb1;

  --bg: var(--primary-400);
  --bg2: ;

  --text: ;

  --black: #0c0c0c;
  --white: #fffafa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "IBM Plex Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Calistoga", serif;
  font-weight: 300;
}

main {
  display: grid;
  grid-template-rows: 8vh 1fr 8vh;

  width: 100%;
  min-height: 100vh;
}

/* Navbar & Footer */
nav,
footer {
  background-color: var(--bg);
  color: var(--black);

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 24px;

  text-transform: uppercase;
}

nav {
  font-weight: 600;
  justify-content: space-between;

  position: sticky;
  top: 0;

  z-index: 5;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 70%;
  max-width: 800px;

  a {
    padding: 0 16px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a:hover {
    cursor: pointer;
    background-color: lightcoral;
  }
}

footer {
  justify-content: start;
  font-weight: 600;
}

/* Navbar END */

/* MyButton */

.btn-filled {
  border: 2px solid var(--primary-600);
  border-radius: 8px;

  background: linear-gradient(
    to bottom right,
    var(--primary-100),
    var(--primary-200)
  );

  font-family: inherit;
  font-weight: inherit;
  text-transform: uppercase;

  transition: box-shadow 0.2s;
}

.btn-filled:hover {
  background: linear-gradient(
    to bottom right,
    var(--primary-100),
    var(--primary-100)
  );

  cursor: pointer;

  /* boxshadow */
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

/* MyButton END */

/* Section & Overlay */
section {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  max-width: 1366px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  /* padding: 16px 0; */
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.8);
}

.overlay-hidden {
  display: none;
}

.lisays {
  width: 80vw;
  max-width: 400px;
  height: max-content;

  padding: 16px 32px;

  border: 2px solid var(--primary);
  border-radius: 16px;

  background-color: var(--primary-100);
}

form {
  width: 100%;
  height: 100%;
}

.input-div,
.select-div {
  padding: 8px 0;
  display: flex;
  flex-direction: column;

  input,
  select {
    padding: 8px;
  }
}

.lisays-nappulat {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}
